@import "animations";
@import "containers";
@import "footer";
@import "grid";
@import "result-card";
@import "searchbox";
@import "title";

body {
    background: $white;

    color: $off-black;
    font-family: $source-sans-pro;
    font-size: 16px;

    p {
        color: $off-black;
    }
}