.footer {
    width: 100%;
    font-weight: 200;
    color: $off-black;
    opacity: 0.75;
    text-align: center;
    a {
        color: $off-black;
        font-weight: 400;
        text-decoration: none; 
    }
}