.result-card {
    color: #1c1c1c;
    flex-direction: column;
    display: none;
    justify-content: center;

    // Title Link
    a {
        margin-bottom: 0%;
        font-size: 1.3em;
        font-family: $open-sans;
    }

    a:link {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    // URL
    h2 {
        font-size: 1em;
        margin-top: 0px;
        margin-bottom : .15rem;
        color: green;
    }

    // Description
    p {
        margin-top: 0px;
        font-size: 1em;
        word-wrap: break-word;
    }

    @media only screen and (max-width: $mobile-width) {
        background-color: #fff;
        padding: 4%;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
    }
}

.searchmatch {
    font-weight: 600;
}
