.result-card {
    color: #1c1c1c;
    display: none;

    // Title Link
    a {
        margin-bottom: 0%;
        font-size: 1.3em;
        font-family: $open-sans;
    }

    a:link {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    // URL
    h2 {
        font-size: 1em;
        margin-top: 0px;
        margin-bottom : 0px;
        color: green;
    }

    // Description
    p {
        margin-top: 0px;
        font-size: 1em;
        word-wrap: break-word;
    }
}

.searchmatch {
    font-weight: 600;
}
