.search-input {
    width: 30%;
    border-color: lighten($off-black, 70%);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
    padding: .3rem 1rem;
    height: 40px;
    background-color: $white;
    outline: none;
    position: relative;

    animation-fill-mode: forwards;
    animation-name: fade-up-in;
    animation-duration: 1s;
    animation-timing-function: ease;

    // adjust searchbox size on tablets
    @media only screen and (max-width: $tablet-width) {
        width: 50%;
    }

    // adjust searchbox size on mobile
    @media only screen and (max-width: $mobile-width) {
        width: 80%;
    } 
}

.search-input-alt {
    width: 30rem;
    background-color: $white;
    border-color: lighten($off-black, 70%);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
    padding: .3rem 1rem;
    height: 40px;
    margin: 1.5rem 0;
    outline: none;

    // adjust logo on mobile
    @media only screen and (max-width: $mobile-width) {
        margin-top: .3rem;
        width: 20rem;
    }
}