.title {
    color: $off-black;
    font-family: $open-sans;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1%;
    text-decoration: none; 
}

.title-alt {
    align-items: center;
    display: flex;
    
    color: $off-black;
    font-family: $open-sans;
    font-weight: 600;
    font-size: 1.5rem;
    justify-content: center;
    text-decoration: none; 
    width: 12%;
}