.title {
    position: relative;
    color: $off-black;
    font-family: $open-sans;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1%;
    text-decoration: none; 
    opacity: 1;
    
    animation-fill-mode: forwards;
    animation-name: fade-down-in;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.title-alt {
    align-items: center;
    display: flex;
    
    color: $off-black;
    font-family: $open-sans;
    font-weight: 600;
    font-size: 1.5rem;
    justify-content: center;
    text-decoration: none; 
    width: 12%;

    @media only screen and (max-width: $mobile-width) {
        margin-top: .5rem;
        margin-bottom: .5rem;

        font-size: 1.5rem;
    }
}